# Ignore gptgeochat directory
gptgeochat/

# Ignore moderation_decisions_ground_truth directory
moderation_decisions_ground_truth/

# Ignore human.zip and synthetic.zip files
human.zip
synthetic.zip

# Specific version requirements
_requirements.txt